  <form class="form-inline" action="http://localhost:8081/cadastro" method="POST">
        <div class="form-group">
            <input class="form-control" name="nome" type="text" placeholder="Nome" autocomplete="off">
            <input class="form-control" name="email" type="email" step="0.01" placeholder="Email" autocomplete="off">
            <input class="form-control" name="senha" type="text" placeholder="Senha">
        </div>

        <button class="btn btn-primary" type="submit">Cadastrar</button>
    </form>
</div>