<div class="container header-criar-conta">
<h1>Gerenciador Financeiro</h1>

</div>
<div class="card card-criar-conta" style="width: 36rem;">
        <div class="card-body">
          <h5 class="card-title">Criar conta</h5>
          <form action="/cadastro" method="POST">
              <div class="row">
                  <div class="col">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Nome</label>
                        <input name="nome" type="text" class="form-control" id="exampleInputName1" aria-describedby="emailHelp">
                      </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Sobrenome</label>
                        <input name="sobrenome" type="text" class="form-control" id="exampleInputLastName1" aria-describedby="emailHelp">
                      </div>
                  </div>
                
                  
              </div>
            
            <div class="form-group">
              <label for="exampleInputEmail1">Endereço de e-mail</label>
              <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              <small id="emailHelp" class="form-text text-muted">Nós nunca iremos compartilhar seu e-mail com ninguém.</small>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Senha</label>
              <input name="senha" type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <button type="submit" class="btn btn-primary">Criar Conta</button>
          </form>
        </div>