    <div class="container-login">
      <div class="card-seja-bem-vindo">
      <h2>Seja bem vindo ao Gerenciador Financeiro</h2>
      <h5>Planeje seus gastos e ganhos.</h5>
      <div class="img-login"><img src="../img/Finance-pana_2.svg" alt="" srcset=""></div>
      </div>

      <div class="card card-login" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Login</h5>
          <form action="/" method="POST">
            <div class="form-group">
              <label for="exampleInputEmail1">Endereço de e-mail</label>
              <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Senha</label>
              <input name="senha" type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
          </form>
          <a href="/criarConta" class="card-link link-criar-login">Ainda tem não um login?</a>
        </div>
    </div>
    </div>
    

