 <form class="form-inline" action="http://localhost:8081/atualizar/{{idTest}}" method="POST">
        {{#each dados}}
        <div class="form-group">
            <input class="form-control" name="descricao" value={{descricao}} type="text" placeholder="Descrição" autocomplete="off">
            <input class="form-control" name="valor" value={{valor}} type="number" step="0.01" placeholder="Valor" autocomplete="off">
            <input class="form-control" name="data"  value={{data}} type="text" placeholder="Data">
        </div>
        {{/each}}
        <div class="form-group">
            <select class="form-control" name="despesa">
                <option value="true">Gasto</option>
                <option value="false">Ganho</option>
            </select>
        </div>

        <button class="btn btn-primary" type="submit">atualizar</button>
        
    </form>