body{
    font-family: 'Poppins', sans-serif;
}

header h1{
    display: flex;
    justify-content: center;
}

header{
    margin-bottom: 25px;
}

.menu-insercao *, .menu-buscar *{
    margin: 0 5px;
}

.container{
    width: 100%;
    margin: 10px 10px;
    display: flex;
    justify-content: space-around;
}

nav{
    margin: 0 150px;
}

#actions {
    display: flex;
}

#actions a{
    cursor: pointer;
}

.add {
    display: none;
}

.gastos, .ganhos{
    width: 50%;
    margin: 0 20px;
}

.resumo{
    width: 50%;
    margin: 0 20px;
}

.card-criar-conta{
    margin: auto;
    margin-top: 150px;
}

.card-login{
    margin: auto;
    margin-top: 150px;
}

.link-criar-login{
    display: block;
    padding-top: 10px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}