body{
    font-family: 'Poppins', sans-serif;
}
header{
    margin: auto;
    display: flex;
    justify-content: center;
}

.menu-insercao form{
    display: flex;
    justify-content: space-around;
    padding: 10px;  
}

.menu-insercao{
    margin: auto;
    width: 80%;
}

.container-gasto-ganho{
    margin: auto;
    width: 80%;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container-gasto-ganho h3{
    margin: 0;
}

/* Bordas e sombras */
.gastos, .ganhos, .resumo, .menu-insercao{
    border:  solid 1px #333;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
}

tr, td, th{
    border: 1px solid #333;
    border-radius: 5px;
}